.filter-container-card {
  border-radius: 0.8em;
  box-shadow: 0.3em 0.3em 0.8em rgba(128, 128, 128, 0.295);
}
.products-table-card {
  border-radius: 0.8em;
  box-shadow: 0.3em 0.3em 0.8em rgba(128, 128, 128, 0.295);
}
