build
.vscode
Makefile
astarte_persistency.d
astarte-device-sdk-qt5
dist
node_modules
.cache

# people-counter-example application
people-counter-example/rgb-cam-device/rgb-cam-people-counter-example
.qmake.stash