menu "Ventilation Motor Predictive Maintenance"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.
    
    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
    
    config WIFI_MAXIMUM_RETRY
        int "WiFi maximum retry"
        default 10
        help
            Maximum number of retrials to connect to wifi AP.
endmenu
